<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>HTTP工具</title>
</head>
<body>
	请求url : <br/>
	<textarea rows="3" cols="50" id="http_url"></textarea><br/>
	请求参数 : <br/>
	<textarea rows="3" cols="50" id="http_params"></textarea><br/>
	加入签名的请求参数 : <br/>
	<textarea rows="3" cols="50" id="sign_params"></textarea><br/>
	签名方法 : <br/>
	<textarea rows="1" cols="25" id="sign_method">pay</textarea>&nbsp;pay / fin<br/>
	<!--  请求参数中签名key名称 : <br/>
	<textarea rows="1" cols="25" id="sign_key_name">signature</textarea><br/>&nbsp;&nbsp;<br/> -->
</body>
</html>