<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.leo.mybatisdemo.dao.UserUserDao">

	<resultMap id="userUserResultMap" type="cn.leo.mybatisdemo.po.UserUser">
		<result column="user_id" property="userId" />
		<result column="username" property="username" />
		<result column="cellphone" property="cellphone" />
	</resultMap>
	
	<select id="findByUserId" resultMap="userUserResultMap" parameterType="long">
		SELECT user_id, username, cellphone
		FROM t_user_user 
		where user_id = #{userId}
	</select>
	
	<sql id="queryCondition">
		<where> 
		    <if test="username != null">
		         username = #{username}
		    </if> 
		    <if test="cellphone != null">
		        AND cellphone =  #{cellphone}
		    </if>
	  	</where>
	</sql>

	<update id="updateUsernameByUserId" parameterType="java.util.Map">
		UPDATE t_user_user
		SET username = #{username}
		where user_id = #{userId}
	</update>
	
	
	
</mapper>