<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>home</title>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/easyui/themes/material/easyui.css}" href="../../themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" th:href="@{/resources/easyui/themes/icon.css}" href="../../themes/icon.css">
	<script type="text/javascript" th:src="@{/resources/easyui/jquery.min.js}" src="../../jquery.min.js"></script>
	<script type="text/javascript" th:src="@{/resources/easyui/jquery.easyui.min.js}" src="../../jquery.easyui.min.js"></script>
</head>

<body>
	<div class="easyui-layout" style="width: 100%; padding-left: 8px;">
		<div id="tb" style="padding:8px 0px;">
			菜单名称: <input name="menuName" class="easyui-textbox" style="width:150px;">
			菜单等级: 
		    <select name="menuLevel" class="easyui-combobox" panelHeight="auto" style="width:100px">
		        <option value="1">一级</option>
		        <option value="2">二级</option>
		        <option value="3">三级</option>
		    </select>
			菜单类型:
			<select name="menuType" class="easyui-combobox" panelHeight="auto" style="width:100px">
		        <option value="1">节点</option>
		        <option value="2">url</option>
		    </select>
		    <a id="searchButton" class="easyui-linkbutton" iconCls="icon-search">查询</a>
		</div>
		<table id="dg"></table>
	</div>
</body>


<script th:inline="javascript">
	$(function(){
		$("#searchButton").on('click', function() {
			$("#dg").datagrid({
				fitColumns: true,
				rownumbers: true,
				columns: [ [
				    {field:'menuName', title: '菜单名称', width: 50},
			    	{field:'menuLevel', title: '菜单等级', width: 40, 
				     formatter: function(value,row,index){
						if (row.menuLevel == 1){
							return "一级菜单";
						}
						if (row.menuLevel == 2){
							return "二级菜单";
						}
						if (row.menuLevel == 3){
							return "三级菜单";
						}
					 }
				    },
			    	{field:'menuType', title: '菜单类型', width: 40,
					 formatter: function(value,row,index){
						if (row.menuType == 1){
							return "节点";
						}
						if(row.menuType == 2){
							return "url";
						}
					 }	
			    	},
			    	{field:'menuUrl', title: '菜单url', width: 70},
			    	{field:'operate', title: '操作', width: 50,
		    		 formatter: function(value,row,index){
		    		 	var str = "";
						str += "<a href='#' style='text-decoration: none; color: #05569d;'>修改</a>";
						if (row.menuType == 1 && (row.menuLevel == 1 || row.menuLevel == 2)){
							str += "&nbsp;<a href='#' style='text-decoration: none; color: #05569d;'>子菜单</a>";
						}
						return str;
					 }
			    	}
				] ],
				url: [[@{/sysmanage/menumanage/load}]],
				queryParams: {
					"menuName": $("input[name='menuName']").val(),
					"menuLevel": $("input[name='menuLevel']").val(),
					"menuType": $("input[name='menuType']").val()
				},
				loadFilter: function(page){
					var data = {};
					data["total"] = page.total;
					data["rows"] = page.items;
					return data;
				},
			    singleSelect: true,
				//border: false,
				pagination: true,
				pageList: [15, 50, 100],
			    pageSize: 15
			});
			var p = $('#dg').datagrid('getPager');
			$(p).pagination({
			   	beforePageText: '第',
			   	afterPageText: '页	共 {pages} 页',
			   	showRefresh: false,
			   	displayMsg: '共 {total} 条记录',
			});
		});
	});
	

</script>

</html>