<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd" default-autowire="byName">

	<bean id="userService" class="cn.leo.springdemo.aop.UserServiceImpl"/>

	<bean id="logAdvice" class="cn.leo.springdemo.aop.LogAdvice"/>
	<aop:config>
		<aop:pointcut id="logPointcut" expression="execution(* cn.leo.springdemo.aop.UserServiceImpl.*(..))"/>


		<aop:aspect ref="logAdvice" order="10000">  <!--order 拦截器链上排序, 值越小优先级越高 -->
			<aop:around method="around" pointcut-ref="logPointcut" />
		</aop:aspect>
	</aop:config>

</beans>