<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd" default-autowire="byName">

	<!-- autowire="" autowire属性控制自动装配 默认是不使用自动装配 -->
	<!-- 可以在beans标签里设置default-autowire, 也可以在bean标签里设置autowire -->
	<!-- 设置了autowire还需要提供set方法才能实现自动装配 -->
	<bean id="fooService" class="cn.leo.springdemo.autowire.FooService" autowire="byName"/>

	<bean id="fooDao" class="cn.leo.springdemo.autowire.FooDao"/>


</beans>